<h1>Gig Attendance List</h1>

  <% @gigs.each do |gig| %>
    <p>Name: <%= gig.gig_name %></a><br/>
    <a href='/gigs/<%= gig.id %>/edit'>Edit</a>
    <a href='/gigs/<%= gig.id %>/delete'>Delete</a><br/>
    Date: <%= gig.date %><br/>
    Location: <%= gig.location %><br/>
    Attending: <%= bool_to_string(gig.attending) %><br/></p>
  <% end %>


<a href="/logout">Log Out</a>
