<h1>Current Gigs</h1>
<% @gigs.each do |gig| %>
    <h2><b>Gig Name: </b><%= gig.gig_name %> 
    <a href='/gigs/<%= gig.id %>'>Click to edit or delete</a></h2>
    <p><b>Date: </b><%= goal.date %></p>
    <p><b>Location: </b><%= gig.location %></p>
    
    <% def bool_to_string(bool) %>
    <% bool ? "Yes" : "No" %>
    <% end %>

    <p><b>Attending? </b><%= bool_to_string(gig.attending) %></p>
<% end %>