<h2><b><%= @gigs.gig_name %></b></h2>
<p><b>Date: </b><%= @gigs.date %></p>
<p><b>Location: </b><%= @gigs.location %></p>
<p><b>Attending? </b><%= bool_to_string(@gigs.attending) %></p>

<% if authorized_to_edit?(@gigs) %>
    <a class="btn btn-primary" href="/gigs/<%= @gigs.id %>/edit" role="button">Edit Gig</a>
    
    <form class="" action="/gigs/<%= @gigs.id %>" method="post">
        <input type="hidden" name="_method", value="DELETE">
        <button class="btn btn-primary" type="submit">Delete Gig</button>
    </form>
<% end %>

<a class="btn btn-primary" href="/logout" role="button">Log Out</a>
<br>
<br>
<a href='/members/<%=current_member.id%>'>Back to My Profile</a><br>

