<h2><b><%= @gigs.gig_name %></b></h2>
<p><b>Date: </b><%= @gigs.date %></p>
<p><b>Location: </b><%= @gigs.location %></p>
<p><b>Attending? </b><%= @gigs.attending %></p>

<a href='/gigs/<%= @gigs.id %>/edit'>Edit</a><br>
<a href='/gigs/<%= @gigs.id %>/delete'>Delete</a><br>

<a href='/members/<%=current_member.id%>'>Back to My Profile</a><br>
<a href="/logout">Log Out</a>

